In [3]:
import pandas as pd
import pyarrow

df_TMDB = pd.read_parquet("tmdb_results/success", engine="pyarrow")
df_IMDB = pd.read_parquet("IMDB_movie_ratings.parquet", engine="pyarrow")

In [4]:
df_IMDB.head()

,tconst,averageRating,numVotes,originalTitle,isAdult,release_year,runtimeMinutes,genres,director_name,primaryProfession
0,tt0000009,5.2,231,Miss Jerry,0,1894,45.0,Romance,Alexander Black,"director,writer,cinematographer"
1,tt0000147,5.3,578,The Corbett-Fitzsimmons Fight,0,1897,100.0,"Documentary,News,Sport",Enoch J. Rector,"director,cinematographer,editor"
2,tt0000574,6.0,1039,The Story of the Kelly Gang,0,1906,70.0,"Action,Adventure,Biography",Charles Tait,"director,writer"
3,tt0000591,4.8,36,L'enfant prodigue,0,1907,90.0,Drama,Michel Carré,"director,writer,actor"
4,tt0001285,5.2,73,The Life of Moses,0,1909,50.0,"Biography,Drama,Family",J. Stuart Blackton,"director,producer,miscellaneous"

In [5]:
df_TMDB.head()

,tmdb_id,imdb_id,original_language,popularity,overview,budget,country,production_companies,revenue,vote_average,vote_count,cast
0,282219,tt0001790,en,1.3571,The story begins with Jean Valjean as a humble...,0,[US],['Pathé Frères'],0,1.0,1,"[{'name': 'Henry Krauss', 'gender': 2, 'pop': ..."
1,1459889,tt0001911,xx,0.0168,Silent film about the relationship between Nel...,2577,[AU],"[""Spencer's Pictures""]",0,0.0,0,"[{'name': 'Nellie Stewart', 'gender': 0, 'pop'..."
2,20105,tt0000574,en,0.1518,Just as Galeen and Wegener's Der Golem (1915) ...,0,[AU],"['Johnson and Gibson', 'J. & N. Tait']",0,5.2,40,"[{'name': 'Elizabeth Tait', 'gender': 0, 'pop'..."
3,120287,tt0001964,de,0.6053,A woman betrays the regiment location in which...,0,[DE],"['Deutsche Bioscop GmbH', 'Projektions-AG Union']",0,4.5,6,"[{'name': 'Asta Nielsen', 'gender': 1, 'pop': ..."
4,284952,tt0001285,en,0.9570,Released in five parts (The Persecution of the...,0,[US],['Vitagraph Company of America'],0,1.0,1,"[{'name': 'Pat Hartigan', 'gender': 2, 'pop': ..."

In [12]:
df_alldata = pd.merge(
    df_IMDB,
    df_TMDB,
    how='left',
    left_on='tconst',
    right_on='imdb_id'
)

In [ ]:
pd.set_option('display.max_columns', None)
df_alldata.drop(columns='imdb_id', inplace=True)
df_alldata.rename(columns={
    'vote_average': 'vote_average_TMDB',
    'vote_count': 'vote_count_TMDB',
    'popularity': 'popularity_TMDB',
    'numVotes': 'numVotes_IMDB',
    'averageRating': 'averageRating_IMDB'
    },
    inplace=True)

,tconst,averageRating_IMDB,numVotes_IMDB,originalTitle,isAdult,release_year,runtimeMinutes,genres,director_name,primaryProfession,tmdb_id,original_language,popularity_TMDB,overview,budget,country,production_companies,revenue,vote_average_TMDB,vote_count_TMDB,cast
0,tt0000009,5.2,231,Miss Jerry,0,1894,45.0,Romance,Alexander Black,"director,writer,cinematographer",356151.0,en,0.2544,The adventures of a female reporter in the 1890s.,0.0,[US],['Alexander Black Photoplays'],0.0,4.5,4.0,"[{'name': 'Blanche Bayliss', 'gender': 0, 'pop..."
1,tt0000147,5.3,578,The Corbett-Fitzsimmons Fight,0,1897,100.0,"Documentary,News,Sport",Enoch J. Rector,"director,cinematographer,editor",147610.0,en,0.0511,"This legendary fight was filmed on March 17, 1...",0.0,[US],['Veriscope Company'],0.0,5.3,27.0,"[{'name': 'James J. Corbett', 'gender': 2, 'po..."
2,tt0000574,6.0,1039,The Story of the Kelly Gang,0,1906,70.0,"Action,Adventure,Biography",Charles Tait,"director,writer",20105.0,en,0.1518,Just as Galeen and Wegener's Der Golem (1915) ...,0.0,[AU],"['Johnson and Gibson', 'J. & N. Tait']",0.0,5.2,40.0,"[{'name': 'Elizabeth Tait', 'gender': 0, 'pop'..."
3,tt0000591,4.8,36,L'enfant prodigue,0,1907,90.0,Drama,Michel Carré,"director,writer,actor",396922.0,fr,0.0632,The first feature-length motion picture produc...,0.0,[FR],['Pathé Frères'],0.0,2.0,1.0,"[{'name': 'Georges Wague', 'gender': 2, 'pop':..."
4,tt0001285,5.2,73,The Life of Moses,0,1909,50.0,"Biography,Drama,Family",J. Stuart Blackton,"director,producer,miscellaneous",284952.0,en,0.9570,Released in five parts (The Persecution of the...,0.0,[US],['Vitagraph Company of America'],0.0,1.0,1.0,"[{'name': 'Pat Hartigan', 'gender': 2, 'pop': ..."

In [14]:
df_alldata.to_parquet('data_IMDB_TMDB_join.parquet',engine='pyarrow')